- if seat.user && seat.user == current_user
  This is your current seat.
- elsif seat.user && current_user.requested?(seat.object)
  = link_to 'Undo this seat request', '/', onclick: "cancel_request(#{seat.id});", class: 'btn btn-primary'
- elsif seat.user
  = link_to 'Request this seat', '/', onclick: "request_seat(#{seat.id});", class: 'btn btn-primary'
- else
  = link_to pick_seat_path(seat), class: 'btn btn-primary', method: :post, remote: true do
    Pick this seat
