<h1>Editing seat</h1>

<%= form_for (@seat) do |f| %>

  <div class='form-group'><%= f.label :row %><br />
    <%= f.text_field :row,
      :class => 'form-control' %></div>

  <div class='form-group'><%= f.label :number %><br />
    <%= f.number_field :number,
      :class => 'form-control' %></div>

  <div class='form-group'><%= f.label :user %><br />
    <%= f.collection_select :user_id, @users, :id, :email,
      :class => 'form-control', :include_blank => true %></div>

  <div class='form-group'><%= f.label :reserved %><br />
    <%= f.check_box :reserved %></div>

  <div><%= f.submit "Update User", :class => 'btn btn-primary'  %></div>
<% end %>
