%h1 Seats
= link_to "New Seat", new_seat_path, :method => :get, :class => 'btn btn-primary pull-right'
%table.table.table-striped
  %thead
    %tr
      %th Seat
      %th Attendee
      %th
      %th
  %tbody
    - @seats.each do |seat|
      %tr[seat.source]
        %td.col-md-3
          = seat.name
        %td.col-md-3
          - if seat.user
            = seat.user.username
        %td.col-md-6
          .btn-group.pull-right
            = link_to 'Delete', seat, method: :delete, data: { confirm: "Are you sure you want to delete the seat '#{seat.name}'?" }, class: 'btn btn-danger btn-xs'
            = link_to 'Edit', edit_seat_path(seat), class: 'btn btn-default btn-xs'
