<h1>Seats</h1>

<%= link_to "New Seat", new_seat_path, :method => :get,
  :class => 'btn btn-primary pull-right' %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Seat</th>
      <th>Attendee</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr id='seat<%=seat.id%>'>
        <td><%= seat.row %><%= seat.number %></td>
        <td><% if seat.user %>
          <%= seat.user.username %>
        <% end %></td>
        <td><%= link_to 'Edit', edit_seat_path(seat), class: 'btn btn-default btn-xs' %></td>
        <td><%= button_to 'Delete', seat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

