.modal-dialog
  = simple_form_for @seat_request, url: event_seat_seat_requests_path(@event, @seat_request.seat), method: :post, remote: true do |f|
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          = "Request seat from #{@seat_request.seat_user_username}"
      .modal-body
        = f.input :reason, placeholder: 'Try to politely explain why you need the seat.'
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Cancel
        = f.button :submit, 'Request seat', class: 'btn btn-primary'
