= simple_form_for [:admin, @event, @seat] do |f|
  %label
    Seat
  .row
    .col-sm-3
      = f.input :row, placeholder: 'Row', label_html: { class: 'sr-only' }
    .col-sm-3
      = f.input :number, placeholder: 'Number', label_html: { class: 'sr-only' }
  .row
    .col-sm-6
      = f.input :user_id, collection: @users.map {|user| [user.summary, user.id] }
  = f.input :reserved

  .pull-right
    = f.button :submit, class: 'btn btn-primary'

:javascript
  $(document).ready(function (){
    $('#seat_row').on('keyup', function(event) {
      if ($.inArray(event.keyCode, [13, 27, 32, 8]) == -1) {
        $('#seat_number').focus();
      }
    });

    $('#seat_number').on('keyup', function(event) {
      if (event.keyCode == '8') {
        $('#seat_row').focus();
      }
    });
  });

  $('#seat_user_id').select2({
    theme: "bootstrap"
  });
