%h1 Users
= link_to "New User", new_admin_user_path, :method => :get, :class => 'btn btn-primary pull-right'
%table.table.table-striped
  %thead
    %tr
      %th Username
      %th Email
      %th
  %tbody
    - @users.each do |user|
      %tr[user]
        %td.col-md-4= user.username
        %td.col-md-6= user.email
        %td.col-md-2
          .btn-group.pull-right
            - unless user.id == current_user.id
              = link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete '#{user.username}'?" }, class: 'btn btn-danger btn-xs'
            = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-default btn-xs'
