<div class='seatpicker-seats<%= seats.to_s %>'>
  <div class='seatpicker-seat<%= seats.to_s %>'>
    <span><%= row + number.to_s %></span>
  </div>

  <div class='seatpicker-seat<%= seats.to_s %>'>
    <span><%= row + (number + 1).to_s %></span>
  </div>
</div>
