<p>Please click to place yourself or request anothers seat.<p>

<hr class='divider'>

<div class='seatpicker-room'>
  <div class='seatpicker-picker'>
    <%= render partial: "table_row", locals: {row: 'A', seats: :top, tables: 2} %>
    <%= render partial: "table_row", locals: {row: 'B', seats: :bottom, tables: 2} %>

    <%= render partial: "table_row", locals: {row: 'C', seats: :top, tables: 2} %>
    <%= render partial: "table_row", locals: {row: 'D', seats: :bottom, tables: 2} %>

    <span class='seatpicker-staff'>
      <%= render partial: "table_row", locals: {row: 'E', seats: :left, tables: 1} %>
    </span>
  </div>
</div>
